* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid yellowgreen;*/
}

body {
    font-family: 'Inter', sans-serif;
    color: #1a1a1a;
    padding-bottom: 80px;
}

ul {
    list-style-type: none;
}

span {
    display: inline-block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
}

/*----------------------------------
            POSITIONING
------------------------------------*/

/* Flex */

.flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
}

.header-container {
    width: 90%;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
}


/* Page Container */

.container {
    width: 90%;
    max-width: 960px;
    margin: 60px auto;
}

.container.month {
    margin-top: 140px;
}

/* Page container header */

.title-group {
    height: 80px;
    justify-content: space-between;
    padding: 0 32px;
}

.title {
    width: 30%;
}

.title-balance {
    text-align: end;
}

.btn-group button,
.btn-group-link {
    padding: 6px 4px 2px;
    width: 40px;
    height: 40px;
}

.btn-group h2 {
    margin: 0 16px;
}

.pending .title span {
    margin-right: 8px;
}

/* Month container */

.balance-total {
    padding: 40px 0;
    text-align: center;
}

.totals-group {
    height: 80px;
    justify-content: center;
}

.totals-group > div {
    margin: 0 32px;
}

.totals-group span {
    margin-right: 8px;
}

/* Year container */

.year-months {
    margin-top: 40px;
    justify-content: space-between;
}

.year-months li {
    width: 23%;
    margin-bottom: 24px;
}

.year-months li a {
    display: block;
    text-align: center;
    padding: 20px;
}

.year-month-balance {
    margin-top: 8px;
}

/* Table */

table {
    width: 100%;
    margin-top: 20px;
    padding: 8px;
}

tr {
    height: 48px;
}

th, td {
    padding: 0 8px 0;
}

/* Month Page Add link */

.add-link-container {
    justify-content: end;
}

.add-link {
    display: block;
    width: 200px;
    padding: 18px;
    text-align: center;
}

/* Add/Edit form */

.form-title {
    margin: 140px auto 40px;
    text-align: center;
}

.form {
    background-color: #e4e3ec;
    border-radius: 8px;
    padding: 40px;
    margin: 0 auto;
    width: 400px;
}

.form button {
    background-color: #7128a9;
    color: #FFFFFF;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    font-size: 16px;
}

.form.edit button {
    margin-top: 32px;
}

.form button:hover {
    background-color: #9540d5;
}

input[type=text],
input[type=date],
input[type=number] {
    width: 100%;
    height: 48px;
    padding: 0px 20px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

input[type=radio],
input[type=checkbox] {
    transform: scale(1.4);
}

.form label {
    font-size: 14px;
    color: #5f5b60;
    display: inline-block;
}

.form .type-group,
.form .payed-group {
    margin-bottom: 16px;
    padding: 16px;
}

.form .type-group label,
.form .payed-group label {
    font-size: 16px;
    font-weight: 500;
    align-self: center;
}

.form .type-group label {
    margin-left: 8px;
    margin-right: 32px;
}

.form .payed-group label {
    margin-right: 16px;
}

/*----------------------------------
          FONTS AND COLORS
------------------------------------*/

/* Header */

.header {
    background-color: #7128a9;
}

.header a {
    color: #FFFFFF;
}

/* Containers */

.month {
    background-color: #F1F0F9;
    border-radius: 8px;
}

.border {
    border: 2px solid #e4e3ec;
    border-radius: 8px;
}

.pending .title-group {
    background-color: #c8171708;
    border: 2px solid #c8171750;
    border-radius: 8px;
}

/* Page container header */

.btn-group h2,
.btn-group h2 a {
    color: #7128a9;
    font-weight: 600;
}

.btn-group button,
.btn-group-link {
    color: #5f5b60;
}

.title h2,
.title-balance {
    color: #5f5b60;
    font-size: 20px;
}

.title h2 {
    font-weight: 500;
}

.title-balance {
    color: #7128a9;
    font-weight: 600;
}

.pending .title span {
    color: #c81717;
}

/* Month container */

.balance-total {
    color: #7128a9;
    font-weight: 500;
    font-size: 40px;
}

.totals-group p {
    color: #5f5b60;
    font-weight: 500;
    font-size: 18px;
}

/* Year container */

.year-month-name {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
}

.year-month-balance {
    color: #7128a9;
    font-size: 16px;
    font-weight: 600;
}

/* Table */

th, td {
    text-align: start;
    border-bottom: 2px solid #e4e3ec;
}

td {
    border-bottom: 1px solid #e4e3ec;
}

.td-amount {
    font-weight: 500;
}

#edit-payed {
    transform: scale(1.4);
}

.secondary-column {
    color: #5f5b60;
}

table button span {
    color: #5f5b60;
}

table button span {
    color: #5f5b60;
}

table a {
    color: #7128a9;
}

/* Month Page Add link */

.add-link {
    background-color: #7128a9;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 8px;
}

.add-link:hover {
    background-color: #9540d5;
}

/* Income / Expense colors */

.in {
    color: #08A15E;
}

.out {
    color: #ef1775
}

.positive {
    color: #7128a9;
}