{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}

    <h1>Add Page</h1>

    <form action="/add" method="post">

        <!-- TODO -->

        <input type="date" id="date" name="date" value="{{today}}">
        <br>
        <br>
        <input id="amount" name="amount" placeholder="Amount" type="text">
        <br>
        <br>
        <input id="description" name="description" placeholder="Description" type="text">
        <br>
        <br>
        <label for="payed">Payed</label>
        <input type="checkbox" id="payed" name="payed" value="payed">
        <br>
        <br>
        <input id="repeat" name="repeat" placeholder="Repeat" type="number">
        <br>
        <br>
        <button type="submit">Add Transaction</button>
    </form>

{% endblock %}