{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}

    <h1 class="form-title">Add Transaction</h1>

    <form class="form" action="/add" method="post">

        <!-- Date -->
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="{{today}}">
        
        <!-- Type -->
        <div class="type-group flex">
            <input id="out" name="type" type="radio" value="out" checked>
            <label for="out">Expense</label>
            
            <input id="in" name="type" type="radio" value="in">
            <label for="in">Income</label>
        </div>
        
        <!-- Amount -->
        <label for="date">Amount:</label>
        <input id="amount" name="amount" placeholder="100.00" type="text">
        
        <!-- Description -->
        <label for="date">Description:</label>
        <input id="description" name="description" placeholder="Groceries" type="text">
        
        <!-- Repeat -->
        <label for="date">Repeat:</label>
        <input id="repeat" name="repeat" placeholder="Repeat" type="number">
        
        <!-- Payed -->
        <div class="payed-group flex">
            <label for="payed" id="payed-label">Payed</label>
            <input type="checkbox" id="payed" name="payed" value="payed">
        </div>

        <button type="submit">Add Transaction</button>
    </form>

{% endblock %}