{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}

    <h1 class="form-title">Edit Page</h1>

    <form class="form edit" action="/edit/{{data.id}}" method="post">

        <!-- Date -->
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="{{data.date}}">

        <!-- Type -->
        <div class="type-group flex">
            {% if data.type == "out" %}
                <input type="radio" id="out" name="type" value="out" checked>
                <label for="out">Expense</label>
                <input type="radio" id="in" name="type" value="in">
                <label for="in">Income</label>            
            {% else %}
                <input type="radio" id="out" name="type" value="out">
                <label for="out">Expense</label>
                <input type="radio" id="in" name="type" value="in" checked>
                <label for="in">Income</label>
            {% endif %}
        </div>

        <!-- Amount -->
        <label for="date">Amount:</label>
        <input id="amount" name="amount" placeholder="100.00" type="text" value="{{data.amount}}">

        <!-- Description -->
        <label for="date">Description:</label>
        <input id="description" name="description" placeholder="Groceries" type="text" value="{{data.description}}">
        
        <!-- Repeat -->
        <label for="date">Repeat:</label>
        <input id="repeat" name="repeat" placeholder="Repeat" type="number" value="{{data.parcels}}">

        <button type="submit">Edit</button>
    </form>

{% endblock %}