{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}

    <h1 class="form-title">Edit Page</h1>

    <form class="container form" action="/edit/{{data.id}}" method="post">

        <input type="date" id="date" name="date" value="{{data.date}}">
        <br>
        <br>

        {% if data.type == "out" %}
            <input type="radio" id="out" name="type" value="out" checked>
            <label for="out">Expense</label>
            <input type="radio" id="in" name="type" value="in">
            <label for="in">Income</label>            
        {% else %}
            <input type="radio" id="out" name="type" value="out">
            <label for="out">Expense</label>
            <input type="radio" id="in" name="type" value="in" checked>
            <label for="in">Income</label>
        {% endif %}
        <br>
        <br>

        <input id="amount" name="amount" placeholder="Amount" type="text" value="{{data.amount}}">
        <br>
        <br>

        <input id="description" name="description" placeholder="Description" type="text" value="{{data.description}}">
        <br>
        <br>
        
        <input id="repeat" name="repeat" placeholder="Repeat" type="number" value="{{data.parcels}}">
        <br>
        <br>

        <button type="submit">Edit</button>
    </form>

{% endblock %}