{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <!-- Month -->
    <div class="container month" id="month-balance-div">

        <input type="hidden" id="current-month-year" value="{{date.year}}">
        <input type="hidden" id="current-month" value="{{date.month}}">

        <!-- Month date group -->
        <div class="date-group flex">
            <p class="month-year" id="month-year">{{date.year}}</p>
            
            <div class="btn-group flex">
                <button id="prev-month" type="button">
                    <span class="material-symbols-sharp">arrow_back_ios</span>
                </button>
            
                <h2 id="month">
                    <a id="month-link" href="/month/{{date.year}}/{{date.month}}">{{date.month_name}}</a>
                </h2>
        
                <button id="next-month" type="button">
                    <span class="material-symbols-sharp">arrow_forward_ios</span>
                </button>
            </div>

            <div class="month-year"></div>
        </div>
        
        <!-- Month balance -->
        <p class="balance-total" id="month-total">{{balance.total}}</p>

        <!-- Month income/expense totals -->
        <div class="totals-group flex flex-center">
            <div class="flex">
                <span class="material-symbols-sharp in">call_received</span>
                <p id="month-income">{{balance.income}}</p>
            </div>

            <div class="flex">
                <span class="material-symbols-sharp out">call_made</span>
                <p id="month-out">{{balance.out}}</p>    
            </div>
        </div>
        
    </div>

    <!-- Year -->
    <div class="container year">

        <input type="hidden" id="current-year" value="{{date.year}}">

        <!-- Year date group -->
        <div class="date-group flex flex-center">
            <div class="btn-group flex">
                <button class="" id="prev-year" type="button">
                    <span class="material-symbols-sharp">arrow_back_ios</span>
                </button>
            
                <h2 id="month">
                    <a id="month-link" href="/month/{{date.year}}/{{date.month}}">{{date.year}}</a>
                </h2>
        
                <button id="next-year" type="button">
                    <span class="material-symbols-sharp">arrow_forward_ios</span>
                </button>
            </div>
        </div>

        <!-- Year total balance -->
        <p class="balance-total" id="year-balance">{{year.balance}}</p>

        <!-- Year months -->
        <ul class="year-months flex">
            {% for row in year.months %}
                <li>
                    <a class="year-month" href="/month/{{year.year}}/{{row.month}}">
                        <p>{{row.month_name}}</p>
                        <p>{{row.balance.total}}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Pending -->
    <div class="container pending">

        <!-- Pending title -->
        <div class="flex flex-center pending-title">
            <span class="material-symbols-sharp in">pending</span>
            <h3>Pending</h3>
        </div>

        <!-- Total pending -->
        <p class="balance-total">{{pending.total}}</p>

        <!-- Pending table -->
        <table>
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Day</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Parcel</th>
                    <th>Payed</th>
                </tr>
            </thead>
            <tbody>
                {% for row in pending.rows %}
                    <tr>
                        <td>{{row.year}}</td>
                        <td>{{row.month}}</td>
                        <td>{{row.day}}</td>
                        <td>{{row.description}}</td>
                        <td>{{row.amount}}</td>
                        <td>{{row.type}}</td>
                        {% if row.parcels > 1 %}
                            <td>{{row.parcel}}/{{row.parcels}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>
                            {% if row.payed == 1 %}
                                <input type="checkbox" class="{{row.id}}" id="edit-payed" name="edit-payed" value="payed" checked >
                            {% else %}
                                <input type="checkbox" class="{{row.id}}" id="edit-payed" name="edit-payed" value="payed">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
