{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <!-- Month -->
    <div class="container month" id="month-balance-div">

        <input type="hidden" id="current-month-year" value="{{date.year}}">
        <input type="hidden" id="current-month" value="{{date.month}}">

        <!-- Month title group -->

        <div class="title-group flex">
            <div class="title">
                <h2 id="month-year">{{date.year}}</h2>
            </div>
            
            <div class="btn-group flex">
                <button id="prev-month" type="button">
                    <span class="material-symbols-sharp">chevron_left</span>
                </button>
            
                <h2 id="month">
                    <a id="month-link" href="/month/{{date.year}}/{{date.month}}">{{date.month_name}}</a>
                </h2>
        
                <button id="next-month" type="button">
                    <span class="material-symbols-sharp">chevron_right</span>
                </button>
            </div>

            <div class="title"></div>
        </div>
        
        <!-- Month balance -->
        <!-- Change color depending on amount value -->
        {% if balance.total > -1 %}
            <p class="balance-total positive" id="month-total">{{balance.total_currency}}</p>
        {% else %}
            <p class="balance-total out" id="month-total">{{balance.total_currency}}</p>
        {% endif %}

        <!-- Month income/expense totals -->
        <div class="totals-group flex">
            <div class="flex">
                <span class="material-symbols-sharp in">call_received</span>
                <p id="month-income">{{balance.income}}</p>
            </div>

            <div class="flex">
                <span class="material-symbols-sharp out">call_made</span>
                <p id="month-out">{{balance.out}}</p>    
            </div>
        </div>
        
    </div>

    <!-- Year -->
    <div class="container year">

        <input type="hidden" id="current-year" value="{{date.year}}">

        <!-- Year date group -->
        <div class="title-group border flex">

            <div class="title">
                <h2>Year Balance</h2>
            </div>

            <div class="btn-group flex">
                <button class="" id="prev-year" type="button">
                    <span class="material-symbols-sharp">chevron_left</span>
                </button>
            
                <h2 id="year">
                    <a>{{date.year}}</a>
                </h2>
        
                <button id="next-year" type="button">
                    <span class="material-symbols-sharp">chevron_right</span>
                </button>
            </div>

            <!-- Year total balance -->
            <div class="title">
                <!-- Change color depending on amount value -->
                {% if year.balance > -1 %}
                    <p class="title-balance positive" id="year-balance">{{year.balance_currency}}</p>
                {% else %}
                    <p class="title-balance out" id="year-balance">{{year.balance_currency}}</p>
                {% endif %}
            </div>
        </div>

        <!-- Year months -->
        <ul class="year-months flex">
            {% for row in year.months %}
                <li>
                    <a class="year-month border" href="/month/{{year.year}}/{{row.month}}">
                        <p class="year-month-name">{{row.month_name}}</p>
                        <!-- Change color depending on amount value -->
                        {% if row.balance.total > -1 %}
                            <p class="year-month-balance positive">{{row.balance.total_currency}}</p>
                        {% else %}
                            <p class="year-month-balance out">{{row.balance.total_currency}}</p>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Pending => only if pending rows count > 0 -->
    {% if pending.count > 0 %}
    
        <div class="container pending">

            <!-- Pending balance group -->
            <div class="title-group flex">

                <!-- Pending title -->
                <div class="flex title">
                    <span class="material-symbols-sharp in">pending</span>
                    <h2>Pending</h2>
                </div>
    
                <!-- Total pending -->
                <div class="title">
                    <!-- Change color depending on amount value -->
                    {% if pending.total > -1 %}
                        <p class="title-balance positive">{{pending.total_currency}}</p>
                    {% else %}
                        <p class="title-balance out">{{pending.total_currency}}</p>
                    {% endif %}
                </div>
            </div>
        
            <!-- Pending table -->
            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Day</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Parcel</th>
                        <th>Payed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in pending.rows %}
                        <tr>
                            <td class="secondary-column">{{row.year}}</td>
                            <td>{{row.month}}</td>
                            <td>{{row.day}}</td>
                            <td>{{row.description}}</td>
                            
                            <!-- Change color depending on amount value -->
                            {% if 0 > row.amount %}
                                <td class="td-amount out">{{row.amount_currency}}</td>
                            {% else %}
                                <td class="td-amount positive">{{row.amount_currency}}</td>
                            {% endif %}
    
                            <!-- Change icon and color depending on type value -->
                            {% if row.type == "out" %}
                                <td><span class="material-symbols-sharp out">call_made</span></td>
                            {% else %}
                                <td><span class="material-symbols-sharp in">call_received</span></td>
                            {% endif %}
                            
                            <!-- Only show parcels if > 1 -->
                            {% if row.parcels > 1 %}
                                <td>{{row.parcel}}/{{row.parcels}}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
    
                            <!-- Payed checkbox -->
                            <td>
                                {% if row.payed == 1 %}
                                    <input type="checkbox" class="{{row.id}}" id="edit-payed" name="edit-payed" value="payed" checked >
                                {% else %}
                                    <input type="checkbox" class="{{row.id}}" id="edit-payed" name="edit-payed" value="payed">
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

    

{% endblock %}
