{% extends "layout.html" %}

{% block title %}
    Month
{% endblock %}

{% block main %}

    <!-- Month -->
    <div class="container month" id="month-balance-div">
        
        <!-- Month date group -->
        <div class="date-group flex">
            <p class="month-year" id="month-year">{{data.year}}</p>
            
            <div class="btn-group flex">
                <a class="btn-group-link" href="/month/{{prev.year}}/{{prev.month}}">
                    <span class="material-symbols-sharp">arrow_back_ios</span>
                </a>
            
                <h2 id="month">{{data.month_name}}</h2>
        
                <a class="btn-group-link" href="/month/{{next.year}}/{{next.month}}">
                    <span class="material-symbols-sharp">arrow_forward_ios</span>
                </a>
            </div>
    
            <div class="month-year"></div>
        </div>

        <!-- Month balance -->
        <p class="balance-total">{{data.balance.total}}</p>


        <!-- Month income/expense totals -->
        <div class="totals-group flex flex-center">
            <div class="flex">
                <span class="material-symbols-sharp in">call_received</span>
                <p>{{data.balance.income}}</p>
            </div>

            <div class="flex">
                <span class="material-symbols-sharp out">call_made</span>
                <p>{{data.balance.out}}</p>    
            </div>
        </div>
    </div>

    <div class="add-link">
        <a href="/add">Add</a>
    </div>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Day</th>
                    <th>Tag</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Parcel</th>
                    <th>Payed</th>
                    <th>Parcel id</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data.rows %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.day}}</td>
                        <td>{{row.tag}}</td>
                        <td>{{row.description}}</td>
                        <td>{{row.amount}}</td>
                        <td>{{row.type}}</td>
                        {% if row.parcels > 1 %}
                            <td>{{row.parcel}}/{{row.parcels}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>
                            {% if row.payed == 1 %}
                                <input type="checkbox" class="{{row.id}}" id="edit-payed" name="edit-payed" value="payed" checked >
                            {% else %}
                                <input type="checkbox" class="{{row.id}}" id="edit-payed" name="edit-payed" value="payed">
                            {% endif %}
                        </td>
                        <td>{{row.parcel_id}}</td>
                        <td>
                            {% if row.parcels > 1 %}
                                <form action="/delete/{{data.year}}/{{data.month}}/{{row.parcel_id}}/{{row.parcels}}" method="post">
                                    <button type="submit">Delete</button>
                                </form>
                            {% else %}
                                <form action="/delete/{{data.year}}/{{data.month}}/{{row.id}}/{{row.parcels}}" method="post">
                                    <button type="submit">Delete</button>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            <a href="/edit/{{row.id}}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <br>

</div>

{% endblock %}