{% extends "layout.html" %}

{% block title %}
    Month
{% endblock %}

{% block main %}

    <h1>{{data.year}}</h1>
    <h1>{{data.month_name}}</h1>

    <a href="/month/{{prev.year}}/{{prev.month}}">Previous Month</a>
    <br>
    <br>
    <a href="/month/{{next.year}}/{{next.month}}">Next Month</a>

    <br>
    <br>

    <a href="/add">Add</a>
    <br>
    <br>
    <a href="/edit/0">Edit</a>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Day</th>
                    <th>Tag</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Parcel</th>
                    <th>Payed</th>
                    <th>Parcel id</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data.rows %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.day}}</td>
                        <td>{{row.tag}}</td>
                        <td>{{row.description}}</td>
                        <td>{{row.amount}}</td>
                        <td>{{row.type}}</td>
                        {% if row.parcels > 1 %}
                            <td>{{row.parcel}}/{{row.parcels}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{row.payed}}</td>
                        <td>{{row.parcel_id}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

</div>

{% endblock %}